.disappear {
    opacity: 0;
    transition:all 1s linear;
}

.flyup {
    transform: translate(-50vw, -100vh) rotate(-70deg);
    transition: all 1.0s linear;
}

.flyback {
    transform: translate(0, 0) rotate(0);
    transition: all 0.6s linear;
}

.dropdown {
    transform: translateY(50px);
    transition: all 1s ease-out;
    transition-delay: 1s;
}

.dropback {
    transform: translateY(-184px);
    transition: all 0.5s ease-in;
}